body {
  margin: 0;
  background: #09030C;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 5.5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
p {
  font-size: 2.4rem;
  max-width: 700px;
  line-height: 1.6;
  text-align: center;
}
p .tag {
  font-weight: 700;
  padding: 0 4px;
  color: #09030C;
}
p .tag.green {
  background-color: greenyellow;
}
p .tag.red {
  background-color: coral;
}
p .tag.yellow {
  background-color: yellow;
}
ul.check {
  list-style-type: "✓ ";
}
#loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #09030C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#loader .loading-bar {
  width: 300px;
  height: 6px;
  background: #222;
  margin: 30px 0;
}
#loader .loading-bar .progress {
  height: 100%;
  width: 0;
  background: #c776f9;
  animation: load 3s forwards;
}
@keyframes load {
  to {
    width: 100%;
  }
}
.slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  transition: all 0.8s;
  background: linear-gradient(90deg, #09030c 0%, #201647 85%, #421e63 100%);
}
.slide .terminal {
  background: #c776f9;
  border-radius: 20px;
  padding: 30px;
  margin: 60px 0;
  font-family: "JetBrains Mono", monospace;
  color: #421e63;
  min-width: 630px;
  max-width: 680px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: left;
  padding: 30px 60px;
  padding-bottom: 60px;
  font-weight: 600;
  line-height: 1.7;
  font-size: 1.8rem;
}
.slide .terminal .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.slide .terminal .header p {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.slide .terminal .header .copy-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.slide .terminal .header .copy-btn .terminal-icon {
  width: 26px;
  height: 26px;
  fill: currentColor;
  transition: transform 0.2s;
}
.slide .terminal.red {
  background-color: coral;
  color: brown;
}
.slide .terminal.green {
  background-color: greenyellow;
  color: darkgreen;
}
.slide .terminal.gray {
  background-color: lightgray;
  color: #09030C;
}
.slide.dark {
  background: #09030C;
  height: 100vh;
}
.slide.dark h1 {
  font-size: 5rem;
  margin-top: 200px;
}
.slide.dark .hearts {
  display: flex;
  gap: 20px;
  margin: 30px 0 200px 0;
}
.image-placeholder {
  width: 740px;
  height: auto;
  border: 2px dashed #c776f9;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/3;
}
.image-placeholder img {
  width: 740px;
  height: auto;
}
.image-placeholder span {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.8rem;
  opacity: 0.7;
}
.reveal {
  background: #c776f9;
  color: #09030C;
}
.reveal h1 {
  font-size: 6rem;
  letter-spacing: 5px;
}
.reveal a {
  background: #09030C;
  color: #c776f9;
  border-radius: 99px;
  padding: 30px;
  width: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 20px 0;
}
.reveal a:hover {
  background: #c776f9;
  color: #09030C;
}
.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    /* Bagliore più contratto e scuro */
    text-shadow: 0 0 5px #fff, 0 0 10px #c776f9, 0 0 20px #c776f9, 0 0 30px #09030C, 0 0 40px #09030C;
  }
  to {
    /* Bagliore più espanso e luminoso */
    text-shadow: 0 0 10px #fff, 0 0 20px #c776f9, 0 0 30px #c776f9, 0 0 50px #c776f9, 0 0 70px #09030C;
  }
}
.firma {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 500;
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  filter: blur(10px);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  color: inherit !important;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
/* Forza l'assenza di sfondo per la classe reveal */
.reveal:not(.terminal, .slide) {
  background: transparent !important;
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.4;
    max-width: 800px;
  }
  .slide .terminal {
    min-width: 500px;
    max-width: 750px;
    line-height: 1.4;
    font-size: 0.8rem;
    padding: 20px 40px;
    margin: 30px 0;
  }
  .slide .terminal .header {
    margin-bottom: 0px;
  }
  .slide .terminal .header p {
    font-size: 0.8rem;
  }
  .slide .terminal .header .copy-btn .terminal-icon {
    width: 14px;
    height: 14px;
  }
  .slide.dark h1 {
    font-size: 4rem;
    margin-top: 100px;
  }
  .slide.dark .hearts {
    display: flex;
    gap: 20px;
    margin: 30px 0 100px 0;
  }
  .image-placeholder {
    width: 550px;
    height: auto;
    margin-top: 20px;
  }
  .image-placeholder img {
    width: 550px;
    height: auto;
  }
  .image-placeholder span {
    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
    opacity: 0.7;
  }
}
